* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}

table {
    font-size: 2.4rem;
    border-collapse: collapse;
}

table tr:first-child {
    background-color: steelblue;
    color: white;
}

table tr:nth-child(2n +3) {
    background-color: #555;
}

h1 {
    color: blue;
    text-decoration: underline;
    font-size: 96px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    height: 500px;
    width: 100%;
    background-color: #555;
    background-image: url("https://images.unsplash.com/photo-1734077457229-8017ee15c7c7?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
ul, ol {
    padding-left: 2.4rem;
}

.box {
    width: 20rem;
    height: 10rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: blue;
    color: white;
    border: 10px solid red;
    display: inline-block;
    border-radius: 1.0rem;

}

.contact-list h2 {
    position: sticky;
    background-color: limegreen;
    top: 0px;
}
